.govuk-box-highlight {
  margin: 1em 0;
  padding: 2em 1em 1em;
  color: #fff;
  background: #00703c;
  text-align: center;
  h1 {
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
  }
  span {
    display: block;
    font-weight: normal;
    strong {
      font-weight: bold;
    }
  }
}