.govuk-box-highlight {
  margin: 1em 0;
  padding: 2em 0 1em;
  color: #fff;
  background: #28a197;
  text-align: center;
  h1 {
    color: #FFFFFF;
    margin-top: 0;
  }
  span {
    display: block;
  }

}