@import "components/do-not-track";

.videoWrapper {
  position:relative;
  height:298px;
  width:530px;
  overflow:hidden;
  margin-bottom:16px;

  @media (max-width: 640px){
    padding-bottom:56.25%;
    height:0;
    max-width:100%
  }

  > * {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
  }
}

#submission-progress {
  display: block;
  margin-bottom: 1em;
  line-height: 1;
  &:focus {
    outline: none;
  }
  .spinner {
    width: 28px;
    height: 28px;
    border: 4px solid #b1b4b6;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    vertical-align: middle;
    margin-right: 7px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  #submission-progress > span.spinner { display: none; }
}

@media (min-width: 40.0625em) {
  #submission-form {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    > .govuk-button[disabled] {
      float: left;
      margin-right: 1em;
    }
    > .active {
      display: inline-block;
      padding-top: 8px;
      .spinner {
        margin-top: -8px;
      }
    }
  }
}
