@import "components/box-highlight";
@import "components/call-to-action";

.logo {
  display: none;
}

#email-updated-address {
  font-size: 24px;
  word-wrap: break-word;

  @media (max-width: 640px){
    font-size: 18px;
  }
}

.button.button--link:focus {
    background-color: #ffbf47;
    color: #4c2c92;
    outline: 3px solid #ffbf47;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline-offset: 0;
}