@import "components/box-highlight";
@import "components/call-to-action";
@import "components/do-not-track";

.logo {
  display: none;
}

#email-updated-address {
  font-size: 24px;
  word-wrap: break-word;

  @media (max-width: 640px){
    font-size: 18px;
  }
}

.button.button--link:focus {
    background-color: #ffbf47;
    color: #4c2c92;
    outline: 3px solid #ffbf47;
}

.button:focus {
  border-color: #fd0;
  outline: 3px solid transparent;
  -webkit-box-shadow: inset 0 0 0 1px #fd0;
  box-shadow: inset 0 0 0 1px #fd0
}

.button:focus:not(:active):not(:hover) {
  border-color: #fd0;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 2px 0 #0b0c0c;
  box-shadow: 0 2px 0 #0b0c0c
}

input:focus, textarea:focus, select:focus, button:focus {
    outline-offset: 0;
}

.videoWrapper {
  position:relative;
  height:298px;
  width:530px;
  overflow:hidden;
  margin-bottom:16px;

  @media (max-width: 640px){
    padding-bottom:56.25%;
    height:0;
    max-width:100%
  }

  > * {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
  }
}

// Add arrows back for details elements
details summary {
  display: list-item;             // Fixes missing arrows
  width: -webkit-fit-content;     // Constrains active link to content
  width: -moz-fit-content;
  width: fit-content;
}
details summary .summary  {
  display: inline-block;        // Prevents text wrapping when clicked (Android Chrome)
}

.pull-right {
  float: right;
  margin: 0;
}
